<Files local.inc>
    Order allow,deny
    Deny from all
</Files>
<Files local_database.inc>
    Order allow,deny
    Deny from all
</Files>                                                                       
